aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
amqp==5.3.1
annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
async-timeout==5.0.1
attrs==25.3.0
Babel==2.14.0
beautifulsoup4==4.13.3
billiard==4.2.1
blinker==1.9.0
celery==5.4.0
certifi==2023.5.7
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.1.0
click==8.1.4
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
comtypes==1.2.0
contourpy==1.3.0
crispy-bootstrap5==2024.10
cryptography==44.0.2
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
distro==1.9.0
Django==4.2.17
django-allauth==65.3.1
django-crispy-forms==2.3
django-sslserver==0.22
djangorestframework==3.15.2
docutils==0.20.1
docx==0.2.4
exceptiongroup==1.2.2
Flask==3.1.0
fonttools==4.56.0
frozendict==2.4.6
frozenlist==1.5.0
future==1.0.0
greenlet==3.0.3
gTTS==2.3.2
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.4
importlib_metadata==8.6.1
importlib_resources==6.5.2
iso8601==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.5
jiter==0.9.0
joblib==1.4.2
jwt==1.3.1
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
kivymd==1.1.1
kiwisolver==1.4.7
kombu==5.5.0
lxml==5.4.0
MarkupSafe==3.0.2
matplotlib==3.9.4
multidict==6.2.0
multitasking==0.0.11
mutagen==1.47.0
mysql-connector-python==8.3.0
numpy==1.26.3
openai==0.28.0
opencv-python==4.11.0.86
packaging==23.2
pandas==2.2.3
peewee==3.17.9
Pillow==10.1.0
platformdirs==4.3.7
playsoundsimple-py==0.8.4
prettytable==3.10.0
prompt_toolkit==3.0.50
propcache==0.3.0
PyAudio @ file:///C:/Users/Admin/Downloads/PyAudio-0.2.11-cp39-cp39-win_amd64.whl#sha256=d237571fa256229fbb9e69cd0b7cb62a0ebb60af9bb43e694371b9a75e3b58b4
pycparser==2.21
pydantic==2.10.6
pydantic_core==2.27.2
pyFirmata==1.1.0
pygame==2.5.2
Pygments==2.17.2
PyJWT==2.10.1
pyparsing==3.2.1
pypiwin32==223
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyserial==3.5
python-barcode==0.15.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.1.2
python-dotenv==1.0.1
pyttsx3==2.71
pytz==2025.1
pywin32==306
PyYAML==6.0.1
pyzbar==0.1.9
qrcode==8.0
redis==5.2.1
reportlab==4.3.1
requests==2.31.0
scikit-learn==1.6.1
scipy==1.12.0
seaborn==0.13.2
serial==0.0.97
six==1.17.0
sniffio==1.3.1
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.6
SpeechRecognition==3.10.0
SQLAlchemy==2.0.25
sqlparse==0.5.3
stripe==8.6.0
style==1.1.0
threadpoolctl==3.6.0
tk==0.1.0
tkcalendar==1.6.1
tqdm==4.67.1
types-playsound==1.3.1.3
typing_extensions==4.12.2
tzdata==2025.1
update==0.0.1
urllib3==2.0.3
vine==5.1.0
wavio==0.0.8
wcwidth==0.2.13
Werkzeug==3.1.3
yarl==1.18.3
yfinance==0.2.55
zipp==3.21.0
